# Contenido para tu archivo requirements.txt

# Core del Dashboard
streamlit

# Análisis y Manipulación de Datos
pandas
numpy
pyarrow

streamlit
pandas
numpy
scikit-learn
joblib
plotly
seaborn
matplotlib
pyarrow